@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>

    <img src="~/images/logo.jpg" alt="Welcome Image" style="max-width:100%; height:auto;" />

</div>
